
<div class="sidebar-mask"></div>

<aside class="sidebar">
    <nav class="nav-links">
        {% for page in scope.listRootPages() %}
            <div class="nav-item">
                <a href="{{ page.getUrl() }}" class="nav-link {{ (page.isCurrent() or page.isParentOfCurrent()) ? 'router-link-active' : '' }}">
                    {{ page.getMenuLabel() }}
                </a>
            </div>
        {% endfor %}
    </nav>
    
    <ul class="sidebar-links">
        {% if not currentRootPage.hasSubPages() %}
            {% if scope.hasNonTerminalRootPages() %}
                {% for page in scope.listNonTerminalRootPages() %}
                    <li>
                    <section class="sidebar-group depth-0">
                    <p class="sidebar-heading">
                        <span>{{ page.getLabel() }}</span>
                    </p>
                    <ul class="sidebar-links sidebar-group-items">
                        {% for subPage in page.listSubPages() %}
                            <li>
                                <a class="sidebar-link {{ subPage.isCurrent() ? 'active' : '' }}" href="{{ subPage.getUrl() }}">
                                    {{ subPage.getMenuLabel() }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                    </section>
                    </li>
                {% endfor %}
            {% elseif scope.hasTerminalRootPages() %}
                B
                <li>
                <section class="sidebar-group depth-0">
                <p class="sidebar-heading">
                    <span>Menu</span>
                </p>
                <ul class="sidebar-links sidebar-group-items">
                    {% for page in scope.listTerminalRootPages() %}
                        <li>
                            <a class="sidebar-link {{ page.isCurrent() ? 'active' : '' }}" href="{{ page.getUrl() }}">
                                {{ page.getMenuLabel() }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
                </section>
                </li>
            {% endif %}
        {% endif %}
    
        {% if currentRootPage.hasTerminalSubPages() %}
            <li>
            <section class="sidebar-group depth-0">
                <p class="sidebar-heading">
                    <span>{{ currentRootPage.getLabel() }}</span>
                </p>
                <ul class="sidebar-links sidebar-group-items">
                    {% for page in currentRootPage.listTerminalSubPages() %}
                        <li>
                            <a class="sidebar-link {{ page.isCurrent() ? 'active' : '' }}" href="{{ page.getUrl() }}">
                                {{ page.getMenuLabel() }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </section>
            </li>
        {% endif %}
    
    
        {% if currentRootPage.hasNonTerminalSubPages() %}
            {% for page in currentRootPage.listNonterminalSubpages() %}
                <li>
                    <section class="sidebar-group depth-0">
                        <p class="sidebar-heading">
                            <span>{{ page.getLabel() }}</span>
                        </p>
    
                        {% for subPage in page.listSubpages() %}
                            <li>
                                <a class="sidebar-link {{ subPage.isCurrent() ? 'active' : '' }}" href="{{ subPage.getUrl() }}">
                                    {{ subPage.getMenuLabel() }}
                                </a>
                            </li>
                        {% endfor %}
                </li>
            {% endfor %}
        {% endif %}
    </ul>
</aside>
